@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

h1,h3{
  font-family: 'Oxygen';
  color: white;
}

th{
  text-align: center;
  font-family: 'Oxygen';
}

tr{
  text-align: center;
}

.table-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

table{
  background: rgba(231, 230, 230, 0.76);
  border: solid white 0.2em;
  border-radius: 0.5em;
  padding: 2em ;
  margin-top: 1em;
  width: 50%;
}

.redBorder{
  border: solid red 0.1em;
  border-radius: 0.5em;
}

.name-Div{
  justify-content: center;
}